<div id="email_collection_form">
  <div id="mc_embed_signup">
  <form action="//speakeasybriefs.us4.list-manage.com/subscribe/post?u=b1f395f7f6e8103ff0c566069&amp;id=e486b78a4d" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

  <div id="mc_embed_signup_scroll">
    <h2>Get Early Access</h2>
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
  </div>

  <div class="mc-field-group">
    <label for="mce-FNAME">First Name </label>
    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
  </div>

    <div id="mce-responses" class="clear">
 <!--      <div class="response" id="mce-error-response" style="display:none"></div> -->
<!--       <div class="response" id="mce-success-response" style="display:none"></div> -->
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b1f395f7f6e8103ff0c566069_e486b78a4d" tabindex="-1" value=""></div>
      <div class="clear">
        <input type="submit" value="Submit" name="Submit" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>

  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>
