<script src="https://cdn.rawgit.com/skipser/youtube-autoresize/master/youtube-autoresizer.js"></script>

<div id="youtube-video">

  <iframe width="560" height="315" src="https://www.youtube.com/embed/HQW-x2KKiVk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

</div>


<!-- <iframe src="https://player.vimeo.com/video/159531286" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
