<!-- <div id="header"> -->
<!-- <h1>The Aura Shirt</h1>
<h3>
  <ul id="ul_headers">
    <li>No Stains</li>
    <li>No Odor</li>
    <li>100% Cotton</li>
  </ul>
</h3>
</div> -->
<section class="container">
  <h4 id="intro">Introducing</h4>
  <div id="header">
    <h1>The Aura Shirt</h1>
    <h3 id="clothing-evloved">Clothing Evolved</h3>
<!--     <ul id="ul_headers">
      <li> -No Stains</li>
      <li> -No Odor</li>
      <li> -100% Cotton</li>
    </ul> -->
  <!-- </div> -->

  <%= erb :_video, layout: false %>
  <%= erb :_email_collection_mailchimp, layout: false %>
  <div id="get-access">
    <p>Get Early Access & Special Pricing</p>
  </div>
<!--   <div id="arrow-box">
    <img id="aarow" src="http://i.imgur.com/wJDj5E1.png?1" />
  </div> -->


</section>
